@use "media";

.template-modal.template-modal {
  background-color: var(--template-modal-overlay-background-color);

  :global(.modal-wrapper) {
    @include media.tablet-s {
      max-width: 456px;
    }
  }
}

.template-modal-wrapper {
  display: grid;
  grid-template-columns: minmax(120px, 456px) minmax(100px, 280px);
  column-gap: 16px;
  border: 1px solid var(--template-modal-wrapper-border-color);
  border-radius: 8px;
  padding: 23px;
  background-color: var(--template-modal-wrapper-background-color);

  @include media.tablet-s {
    grid-template-columns: initial;
    row-gap: 8px;
    padding: 0;
  }
}

.template-modal-content {
  display: flex;
  flex-direction: column;
}

.template-modal-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 16px;

  @include media.tablet-s {
    border-bottom: 1px solid
      var(--template-modal-body-mobile-border-bottom-color);
    margin-bottom: 0;
    padding: 0 15px 11px;
  }
}

.template-modal-preview {
  @include media.tablet-s {
    padding: 15px 15px 0;
  }
}

.template-modal-img {
  display: block;
  border-radius: 4px;
  margin-bottom: 10px;
  max-width: 100%;

  @include media.tablet-s {
    margin-bottom: 8px;
  }
}

.template-modal-format {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 2px 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #ffffff;
  min-width: 40px;
  min-height: 20px;
}

.template-modal-format-docx {
  background-color: var(--card-format-docx-background-color);
}

.template-modal-format-xlsx {
  background-color: var(--card-format-xlsx-background-color);
}

.template-modal-format-pptx {
  background-color: var(--card-format-pptx-background-color);
}

.template-modal-format-pdf {
  background-color: var(--card-format-pdf-background-color);
}

.template-modal-wrap {
  display: grid;
  flex: 1 1 auto;
  align-content: start;
  row-gap: 8px;
  border-bottom: 1px solid var(--template-modal-wrap-border-bottom-color);
  margin-bottom: 16px;
  padding-bottom: 16px;

  @include media.tablet-s {
    border-bottom: none;
    margin-bottom: 12px;
    padding-bottom: 0;
  }
}

.template-modal-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--template-modal-heading-color);
}

.template-modal-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.template-modal-tag {
  border: 1px solid var(--template-modal-tag-border-color);
  border-radius: 27px;
  padding: 2px 8px;
  font-family: "Segoe-UI";
  font-size: 12px;
  line-height: 16px;
  color: var(--template-modal-tag-color);
  min-height: 22px;
}

.template-modal-label {
  font-family: "Segoe-UI";
  font-size: 12px;
  line-height: 16px;
  color: var(--template-modal-label-color);
}

.template-modal-text {
  font-family: "Segoe-UI";
  font-size: 12px;
  line-height: 16px;
  color: var(--template-modal-text-color);
}

.template-modal-file-info {
  display: flex;
  align-items: center;
}

.template-modal-file-item {
  font-size: 12px;
  line-height: 16px;
  color: var(--template-modal-file-item-color);

  &:not(:last-child) {
    margin-inline-end: 32px;
  }
}

.template-modal-file-label {
  font-family: "Segoe-UI";
  margin-inline-end: 2px;
}

.template-modal-file-value {
  font-family: "Segoe-UI";
  font-weight: 700;
  color: var(--template-modal-file-value-color);
}

.template-modal-btns {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 29px;
  font-family: "Segoe-UI";

  @include media.tablet-s {
    padding: 15px;
  }
}

.template-modal-btn {
  display: inline-flex;
  border: none;
  border-radius: 4px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  min-height: 32px;
  box-shadow: var(--template-modal-btn-box-shadow-color);
  cursor: pointer;
}

.template-modal-btn-variant-primary {
  color: var(--template-modal-btn-primary-color);
  background-color: var(--template-modal-btn-primary-background-color);
}

.template-modal-btn-variant-secondary {
  margin-inline-end: 10px;
  border: 1px solid var(--template-modal-btn-secondary-border-color);
  color: var(--template-modal-btn-secondary-color);
  background-color: var(--template-modal-btn-secondary-background-color);
}
