body::-webkit-scrollbar {
    width: 8px !important;
}

body::-webkit-scrollbar-track {
    background: #1E1E1E !important;
}

body::-webkit-scrollbar-track:hover {
    background: #252525 !important;
}

body::-webkit-scrollbar-thumb {
    background-color: #606060 !important;
    border-radius: 3px !important;
}

.modal-with-scroll::-webkit-scrollbar {
    width: 8px !important;
}

.modal-with-scroll::-webkit-scrollbar-track {
    background: #1E1E1E !important;
}

.modal-with-scroll::-webkit-scrollbar-track:hover {
    background: #252525 !important;
}

.modal-with-scroll::-webkit-scrollbar-thumb {
    background-color: #606060 !important;
    border-radius: 3px !important;
}

* {
    scrollbar-width: thin !important;
    scrollbar-color: #606060 #252525 !important;
}