# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# .vscode
.vscode

# testing
/coverage

# production
/build
ignore.md

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
node_modules

# linaria cache
/.linaria-cache/

# gatsby cache 
/.cache/

# gatsby build bundle
/public/
/oforms/
/static/data/reqdata