@use "media";

.back-to-top-sentinel {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

.back-to-top-btn {
  position: fixed;
  bottom: 24px;
  inset-inline-end: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 48px;
  height: 48px;
  color: var(--back-to-top-btn-color);
  background-color: var(--back-to-top-btn-background-color);
  opacity: 0;
  visibility: hidden;
  transition:
    background-color 0.2s,
    opacity 0.2s,
    visibility 0.2s;
  cursor: pointer;

  &:hover {
    background-color: var(--back-to-top-btn-background-color-hover);
  }

  @include media.mobile {
    bottom: 16px;
    inset-inline-end: 16px;
  }
}

.back-to-top-btn-visible {
  opacity: 1;
  visibility: visible;
}
