/* prettier-ignore */
:root {
  --primary-color: #494b5b;
  --primary-background-color: #f9fbfe;

  --cookie-banner-text-color: var(--primary-color);
  --cookie-banner-link-color: #3541f5;
  --cookie-banner-border-color: #e1e1f7;
  --cookie-banner-background-color: #ffffff;
  --cookie-banner-box-shadow-color: rgba(27, 68, 166, 0.1);
  --cookie-settings-heading-color: #333333;
  --cookie-settings-checkbox-heading-color: #21222b;
  --cookie-settings-box-shadow-color: rgba(85, 85, 85, 0.15);

  --button-primary-color: #ffffff;
  --button-primary-background-color: linear-gradient(360deg, #EB3300 0%, #FF5938 40%);
  --button-primary-box-shadow-color: rgba(244, 89, 12, 0.4);
  --button-primary-background-color-hover: linear-gradient(360deg, #F68C57 0%, #FF5938 100%);
  --button-primary-box-shadow-color-hover: rgba(244, 89, 12, 0.5);
  --button-primary-background-color-disabled: linear-gradient(360deg, rgba(235, 51, 0, 0.5) 0%, rgba(255, 89, 56, 0.5) 40%);
  --button-primary-box-shadow-color-disabled: rgba(244, 89, 12, 0.5);
  --button-secondary-dark-color: #ffffff;
  --button-secondary-dark-background-color: #000122;
  --button-secondary-dark-background-color-hover: #001BD2;
  --button-secondary-dark-opacity-disabled: 0.5;
  --button-secondary-light-color: #000122;
  --button-secondary-light-background-color: #ffffff;
  --button-secondary-light-background-color-hover: #CCDBFB;
  --button-secondary-light-opacity-disabled: 0.5;
  --button-tertiary-light-border-color: #3541f5;
  --button-tertiary-light-color: #ffffff;
  --button-tertiary-light-background-color-hover: rgba(53, 65, 245, 0.2);
  --button-tertiary-light-border-color-hover: #3541f5;
  --button-tertiary-light-border-color-disabled: #3541f5;
  --button-tertiary-light-opacity-disabled: 0.5;
  --button-tertiary-dark-border-color: #3541f5;
  --button-tertiary-dark-color: #000122;
  --button-tertiary-dark-background-color-hover: rgba(53, 65, 245, 0.07);
  --button-tertiary-dark-border-color-hover: #3541f5;
  --button-tertiary-dark-border-color-disabled: #3541f5;
  --button-tertiary-dark-opacity-disabled: 0.5;

  --checkbox-border-color: #a6a8b8;
  --checkbox-background-color: #f3f4f7;
  --checkbox-label-color: #666666;
  --checkbox-border-color-hover: #3541f5;
  --checkbox-background-color-checked: #000122;
  --checkbox-border-color-focus: #000122;
  --checkbox-opacity-disabled: 0.4;

  --heading-color: var(--primary-color);

  --input-heading-color: #494b5b;
  --input-heading-required-mark-color: #5c61f6;
  --input-label-color: #a6a8b8;
  --input-border-color: #a6a8b8;
  --input-color: var(--primary-color);
  --input-background-color: #ffffff;
  --input-placeholder-color: #a6a8b8;
  --input-placeholder-color-focus: #dcdde6;
  --input-border-color-hover: #3541f5;
  --input-border-color-focus: #3541f5;
  --input-background-color-focus: #ffffff;
  --input-opacity-disabled: 0.4;
  --input-border-color-error: #DE3163;
  --input-color-error: #E3537C;
  --input-background-color-error: #FCEEF2;

  --link-color-hover: #32118a;

  --modal-overlay-background-color: rgba(0, 0, 0, 0.3);

  --select-color: var(--primary-color);
  --select-border-color: #a6a8b8;
  --select-background-color: #f3f4f7;
  --select-label-color: #a6a8b8;
  --select-placeholder-color: #dcdde6;
  --select-border-color-hover: #3541f5;
  --select-border-color-open: #3541f5;
  --select-background-color-open: #ffffff;
  --select-opacity-disabled: 0.4;
  --select-border-color-error: #de3163;
  --select-color-error: #e97696;
  --select-dropdown-background-color: #ffffff;
  --select-dropdown-box-shadow-color: rgba(85, 85, 85, 0.15);
  --select-option-background-color: transparent;
  --select-option-background-color-hover: #eef3ff;
  --select-option-color-selected: #3541f5;

  --textarea-heading-color: #494b5b;
  --textarea-heading-required-mark-color: #5c61f6;
  --textarea-label-color: #a6a8b8;
  --textarea-border-color: #a6a8b8;
  --textarea-color: var(--primary-color);
  --textarea-background-color: #ffffff;
  --textarea-placeholder-color: #a6a8b8;
  --textarea-placeholder-color-focus: #dcdde6;
  --textarea-border-color-hover: #3541f5;
  --textarea-border-color-focus: #3541f5;
  --textarea-background-color-focus: #ffffff;
  --textarea-opacity-disabled: 0.4;
  --textarea-border-color-error: #DE3163;
  --textarea-color-error: #DE3163;
  --textarea-background-color-error: #FCEEF2;
  --textarea-counter-color: #9092a6;

  --breadcrumbs-item-link-color: #9092A6;
  --breadcrumbs-item-label-color: #494B5B;

  --card-preview-wrapper-border-color: rgba(122, 125, 148, 0.4);
  --card-preview-wrapper-background-color: #ffffff;
  --card-format-color: #ffffff;
  --card-format-docx-background-color: #305cc4;
  --card-format-xlsx-background-color: #41b338;
  --card-format-pptx-background-color: #ff6c00;
  --card-format-pdf-background-color: #d10f33;
  --card-docx-background-color-hover: #eaf1fe;
  --card-xlsx-background-color-hover: rgba(196, 249, 232, 0.5);
  --card-pptx-background-color-hover: rgba(255, 111, 61, 0.05);
  --card-pdf-background-color-hover: rgba(249, 221, 229, 0.5);
  --card-heading-color: #21222B;
  --card-description-color: #9092A6;

  --main-heading-color: #21222B;
  --main-subheading-color: #666980;
  --main-count-color: #9092a6;
  --main-filters-button-icon-color: #666980;
  --main-section-heading-color: #21222B;
  --main-section-heading-link-color-hover: #32118A;

  --search-input-icon-color: #9092a6;
  --search-input-cross-icon-color: #7A7D94;
  --search-input-border-color: #A6A8B8;
  --search-input-color: #494B5B;
  --search-input-background-color: #FFFFFF;
  --search-input-placeholder-color: #9092a6;
  --search-input-border-color-hover: #3541F5;
  --search-input-with-value-border-color: #3541f5;
  --search-input-with-value-background-color: #ffffff;;
  --search-input-excerpt-color: #3541f5;
  --search-input-results-border-color: #3541F5;
  --search-input-results-background-color: #FFFFFF;
  --search-input-results-box-shadow-color: #cfdbf4;
  --search-input-results-label-color: #808080;
  --search-input-results-item-color: #21222b;
  --search-input-results-item-color-hover: #001BD2;
  --search-input-results-item-background-color-hover: rgba(53, 65, 245, 0.07);
  --search-results-btn-cross-icon-color: #444444;

  --sort-selector-label-color: #9092a6;
  --sort-selector-button-color: #21222b;
  --sort-selector-chevron-down-icon-color: #666980;
  --sort-selector-dropdown-border-color: #3541f5;
  --sort-selector-dropdown-background-color: #ffffff;
  --sort-selector-dropdown-box-shadow-color: #cfdbf4;
  --sort-selector-option-color: #9092a6;
  --sort-selector-option-background-color-hover: rgba(53, 65, 245, 0.07);
  --sort-selector-option-color-active: #001BD2;
  --sort-selector-option-background-color-active: rgba(53, 65, 245, 0.07);

  --sidebar-mobile-background-color: #ffffff;
  --sidebar-clear-btn-border-color: #e1e1f7;
  --sidebar-clear-btn-color: #585A6D;
  --sidebar-clear-btn-background-color: #E7E8EE;
  --sidebar-clear-btn-background-color-hover: #DCDDE6;
  --sidebar-item-border-color: rgba(53, 65, 245, 0.07);
  --sidebar-item-header-heading-color: var(--primary-color);
  --sidebar-item-header-heading-sub-color: #585a6d;
  --sidebar-item-header-count-color: #ffffff;
  --sidebar-item-header-count-background-color: #000122;
  --sidebar-item-header-icon-sub-color: #9092a6;
  --sidebar-item-text-color: #9092a6;
  --sidebar-item-options-btn-border-color: #ccdbfb;
  --sidebar-item-options-btn-color: #3a3c49;
  --sidebar-item-options-btn-color-hover: #143481;
  --sidebar-item-options-btn-background-color-hover: #ccdbfb;
  --sidebar-item-options-btn-box-shadow-color-hover: #709af1;
  --sidebar-item-show-less-btn-color: #3a3c49;
  --sidebar-item-chevron-down-icon-color: #A6A8B8;

  --switch-text-color: #7a7d94;
  --switch-background-color-hover: rgba(53, 65, 245, 0.07);
  --switch-box-shadow-color-hover: #8183F7;
  --switch-color-checked: #001BD2;
  --switch-background-color-checked: rgba(53, 65, 245, 0.07);

  --badge-wrapper-border-color: #d4d4ff;
  --badge-wrapper-background-color-hover: rgba(53, 65, 245, 0.07);
  --badge-wrapper-box-shadow-color-hover: #8183F7;
  --badge-wrapper-background-color-checked: rgba(53, 65, 245, 0.07);
  --badge-label-color: var(--primary-color);
  --badge-label-color-checked: #001BD2;
  --badge-count-color: #9092a6;
  --badge-count-color-checked: #5C61F6;

  --search-result-heading-color: #000122;
  --search-result-border-color: #ccdbfb;
  --search-result-no-results-found-background-color: rgba(255, 255, 255, 0.9);
  --search-result-no-results-found-text-color: #494B5B;
  --search-result-no-results-found-subtext-color: #666980;
  --search-result-suggestions-heading-color: #21222B;
  --search-result-suggestions-card-text-color: #7A7D94;

  --error-label-color: rgba(174, 197, 247, 0.4);
  --error-heading-color: #21222B;
  --error-text-color: #494B5B;
  --error-subtext-color: #9092A6;

  --form-hero-label-border-color: #75c9c4;
  --form-hero-label-color: #317773;
  --form-hero-label-background-color: #e6faf9;
  --form-hero-label-applications-border-color: rgba(68, 105, 149, 0.5);
  --form-hero-label-applications-color: #446995;
  --form-hero-label-applications-background-color: #edf5ff;
  --form-hero-description-color: #494B5B;
  --form-hero-info-border-color: #e1e1f7;
  --form-hero-info-label-color: #9092a6;
  --form-hero-info-value-color: #494B5B;
  --form-hero-link-color: #3541f5;
  --form-hero-slider-item-border-color: #f3f3f7;
  --form-hero-slider-item-background-color: #ffffff;
  --form-hero-slider-item-box-shadow-color:  rgba(27, 68, 166, 0.1);
  --form-hero-slider-button-opacity-disabled: 0.4;
  --form-hero-download-modal-background-color: #ffffff;
  --form-hero-download-modal-box-shadow-color: rgba(27, 68, 166, 0.15);
  --form-hero-download-modal-heading-color: #21222b;
  --form-hero-download-modal-text-color: var(--primary-color);
  --form-hero-download-as-heading-color: #494B5B;
  --form-hero-download-as-link-color: #3541f5;
  --form-hero-download-as-item-tooltip-icon-color: #9092A6;
  --form-hero-download-as-item-tooltip-icon-color-hover: #666666;
  --form-hero-download-as-item-tooltip-text-color: #ffffff;
  --form-hero-download-as-item-tooltip-text-background-color: rgba(0, 0, 0, 0.6);
  --form-hero-share-heading-color: #9092a6;
  --form-hero-share-button-background-color: #E7E8EE;
  --form-hero-share-button-background-color-hover: #DCDDE6;
  --form-slider-section-heading-color: #21222B;
  --form-slider-section-button-opacity-disabled: 0.4;
  --form-how-to-create-border-color: #e1e1f7;
  --form-how-to-create-background-color: #ffffff;
  --form-how-to-create-heading-accent-color: #3541f5;
  --form-how-to-create-list-color: var(--primary-color);
  --form-how-to-create-list-count-color: #21222B;
  --form-build-your-own-forms-section-background-color: #000122;
  --form-build-your-own-forms-border-color: rgba(156, 153, 231, 0.3);
  --form-build-your-own-forms-background-color: rgba(156, 153, 231, 0.1);
  --form-build-your-own-forms-heading-color: #E7E8EE;
  --form-build-your-own-forms-text-color: #BCBECA;
  --form-build-your-own-forms-link-color: #ffffff;
  --form-explore-other-template-item-border-color: #d4d4ff;
  --form-explore-other-template-item-color: var(--primary-color);
  --form-explore-other-template-item-background-color: rgba(255, 255, 255, 0.9);

  --form-submit-background-color: #F5F8FF;
  --form-submit-heading-color: #21222B;
  --form-submit-text-color: #666980;
  --form-submit-green-color: #11aa7a;
  --form-submit-gray-color: #e7e8ee;
  --form-submit-block-border-color: #ccdbfb;
  --form-submit-block-background-color: #ffffff;
  --form-submit-file-text-color: #9092A6;
  --form-submit-file-accent-text-color: #3541F5;
  --form-submit-file-list-item-color: #494b5b;
  --form-submit-file-upload-heading-color: #000122;
  --form-submit-file-upload-size-color: #7a7d94;
  --form-submit-file-upload-info-background-error-color: #fceef2;
  --form-submit-file-upload-cross-btn-background-color: #fceef2;
  --form-submit-file-upload-error-color: #DE3163;
  --form-submit-file-upload-btn-color: #3541f5;
  --form-submit-file-upload-btn-color-hover: rgba(174, 197, 247, 0.25);
  --form-submit-info-item-heading-color: #494B5B;
  --form-submit-submitted-successfully-heading-color: #000122;
  --form-submit-submitted-successfully-item-primary-text-color: #666980;
  --form-submit-submitted-successfully-item-secondary-heading-color: #7A7D94;
  --form-submit-submitted-successfully-item-secondary-text-color: #7A7D94;
  --form-submit-submitted-successfully-block-text-color: #494B5B;
}
