/* prettier-ignore */
:root {
  --primary-color: #494b5b;
  --primary-background-color: #f9fbfe;

  --cookie-banner-text-color: var(--primary-color);
  --cookie-banner-link-color: #3541f5;
  --cookie-banner-border-color: #e1e1f7;
  --cookie-banner-background-color: #ffffff;
  --cookie-banner-box-shadow-color: rgba(27, 68, 166, 0.1);
  --cookie-settings-heading-color: #333333;
  --cookie-settings-checkbox-heading-color: #21222b;
  --cookie-settings-checkbox-description-color: var(--primary-color);
  --cookie-settings-background-color: #ffffff;
  --cookie-settings-box-shadow-color: rgba(85, 85, 85, 0.15);

  --button-primary-color: #ffffff;
  --button-primary-background-color: radial-gradient(83.6% 156.25% at 71.63% 0%, #ffac00 0%, #ff8100 28.85%, #ff4b00 88.46%);
  --button-primary-box-shadow-color: #ff6f3d4d;
  --button-primary-background-color-hover: linear-gradient(360deg, #f68c57 0%, #ff5938 100%);
  --button-primary-box-shadow-color-hover: rgba(244, 89, 12, 0.5);
  --button-primary-background-color-disabled: linear-gradient(360deg, rgba(235, 51, 0, 0.5) 0%, rgba(255, 89, 56, 0.5) 40%);
  --button-primary-box-shadow-color-disabled: rgba(244, 89, 12, 0.5);
  --button-primary-2-color: #ffffff;
  --button-primary-2-background-color: #ff6f3d;
  --button-primary-2-background-color-hover: #ff865c;
  --button-primary-2-background-color-disabled: #ffd4c5;
  --button-secondary-dark-color: #ffffff;
  --button-secondary-dark-background-color: #000122;
  --button-secondary-dark-background-color-hover: #3541f5;
  --button-secondary-dark-opacity-disabled: 0.5;
  --button-secondary-light-color: #000122;
  --button-secondary-light-background-color: #ffffff;
  --button-secondary-light-color-hover: #ffffff;
  --button-secondary-light-background-color-hover: #3541f5;
  --button-secondary-light-opacity-disabled: 0.5;
  --button-tertiary-light-border-color: #3541f5;
  --button-tertiary-light-color: #ffffff;
  --button-tertiary-light-background-color-hover: rgba(53, 65, 245, 0.2);
  --button-tertiary-light-box-shadow-color-hover: #3541f5;
  --button-tertiary-light-box-shadow-color-disabled: #3541f5;
  --button-tertiary-light-opacity-disabled: 0.5;
  --button-tertiary-dark-border-color: #3541f5;
  --button-tertiary-dark-color: #000122;
  --button-tertiary-dark-background-color-hover: rgba(53, 65, 245, 0.07);
  --button-tertiary-dark-box-shadow-color-hover: #3541f5;
  --button-tertiary-dark-box-shadow-color-disabled: #3541f5;
  --button-tertiary-dark-opacity-disabled: 0.5;

  --checkbox-border-color: #a6a8b8;
  --checkbox-background-color: #f3f4f7;
  --checkbox-label-color: #666666;
  --checkbox-border-color-hover: #3541f5;
  --checkbox-box-shadow-color-hover: #3541f5;
  --checkbox-border-color-checked: #000122;
  --checkbox-background-color-checked: #000122;
  --checkbox-border-color-focus: #000122;
  --checkbox-opacity-disabled: 0.4;

  --heading-color: var(--primary-color);

  --input-label-color: #a6a8b8;
  --input-border-color: #a6a8b8;
  --input-color: var(--primary-color);
  --input-background-color: #f3f4f7;
  --input-placeholder-color: #a6a8b8;
  --input-placeholder-color-focus: #dcdde6;
  --input-border-color-hover: #3541f5;
  --input-box-shadow-color-hover: #3541f5;
  --input-border-color-focus: #3541f5;
  --input-background-color-focus: #ffffff;
  --input-box-shadow-color-focus: #3541f5;
  --input-opacity-disabled: 0.4;
  --input-border-color-error: #e97696;
  --input-box-shadow-color-error: #e97696;
  --input-color-error: #e97696;

  --link-color-hover: #32118a;

  --modal-background-color: rgba(0, 0, 0, 0.3);

  --select-color: var(--primary-color);
  --select-border-color: #a6a8b8;
  --select-background-color: #f3f4f7;
  --select-label-color: #a6a8b8;
  --select-placeholder-color: #dcdde6;
  --select-border-color-hover: #3541f5;
  --select-box-shadow-color-hover: #3541f5;
  --select-border-color-open: #3541f5;
  --select-background-color-open: #ffffff;
  --select-box-shadow-color-open: #3541f5;
  --select-opacity-disabled: 0.4;
  --select-border-color-error: #de3163;
  --select-box-shadow-color-error: #de3163;
  --select-color-error: #e97696;
  --select-dropdown-background-color: #ffffff;
  --select-dropdown-box-shadow-color: rgba(85, 85, 85, 0.15);
  --select-option-background-color: transparent;
  --select-option-background-color-hover: #eef3ff;
  --select-option-color-selected: #3541f5;

  --textarea-label-color: #a6a8b8;
  --textarea-border-color: #a6a8b8;
  --textarea-color: var(--primary-color);
  --textarea-background-color: #f3f4f7;
  --textarea-placeholder-color: #a6a8b8;
  --textarea-placeholder-color-focus: #dcdde6;
  --textarea-border-color-hover: #3541f5;
  --textarea-box-shadow-color-hover: #3541f5;
  --textarea-border-color-focus: #3541f5;
  --textarea-background-color-focus: #ffffff;
  --textarea-box-shadow-color-focus: #3541f5;
  --textarea-opacity-disabled: 0.4;
  --textarea-border-color-error: #e97696;
  --textarea-box-shadow-color-error: #e97696;
  --textarea-color-error: #e97696;

  --breadcrumbs-item-link-color: #666980;
  --breadcrumbs-item-label-color: var(--primary-color);

  --card-preview-wrapper-border-color: rgba(122, 125, 148, 0.4);
  --card-preview-wrapper-background-color: #ffffff;
  --card-preview-background-color: #ffffff;
  --card-format-color: #ffffff;
  --card-format-docx-background-color: #305cc4;
  --card-format-xlsx-background-color: #41b338;
  --card-format-pptx-background-color: #ff6c00;
  --card-format-pdf-background-color: #d10f33;
  --card-docx-background-hover: #eaf1fe;
  --card-xlsx-background-hover: rgba(196, 249, 232, 0.5);
  --card-pptx-background-hover: rgba(255, 111, 61, 0.05);
  --card-pdf-background-hover: rgba(249, 221, 229, 0.5);
  --card-color: var(--primary-color);

  --main-heading-color: #231990;
  --main-subheading-color: var(--primary-color);
  --main-count-color: #9092a6;
  --main-filters-button-icon-color: #444444;
  --main-section-heading-link-color-hover: var(--link-color-hover);

  --search-input-icon-color: #9092a6;
  --search-input-border-color: #dcdde6;
  --search-input-color: #9092a6;
  --search-input-background-color: #ffffff;
  --search-input-placeholder-color: #9092a6;
  --search-input-border-color-hover: #b9cef9;
  --search-input-excerpt-color: #3541f5;
  --search-input-results-border-color: #b9cef9;
  --search-input-results-background-color: #f3f4f7;
  --search-input-results-box-shadow-color: #cfdbf4;
  --search-input-results-label-color: #808080;
  --search-input-results-item-color: #21222b;
  --search-input-results-item-color-hover: #3541f5;
  --search-input-results-item-background-color-hover: #ffffff;
  --search-results-btn-cross-icon-color: #444444;

  --sort-selector-label-color: #9092a6;
  --sort-selector-button-color: #21222b;
  --sort-selector-chevron-down-icon-color: #666980;
  --sort-selector-dropdown-border-color: #3541f5;
  --sort-selector-dropdown-background-color: #f3f4f7;
  --sort-selector-dropdown-box-shadow-color: #cfdbf4;
  --sort-selector-option-color: #9092a6;
  --sort-selector-option-background-color-hover: #ffffff;
  --sort-selector-option-color-active: #143481;
  --sort-selector-option-background-color-active: #ffffff;

  --sidebar-mobile-background-color: #ffffff;
  --sidebar-clear-btn-border-color: #e1e1f7;
  --sidebar-clear-btn-color: #9092a6;
  --sidebar-clear-btn-background-color: #f0f0ff;
  --sidebar-clear-btn-box-shadow-color: rgba(36, 90, 221, 0.1);
  --sidebar-item-border-color: #b9cef9;
  --sidebar-item-header-heading-sub-color: #585a6d;
  --sidebar-item-header-count-color: #ffffff;
  --sidebar-item-header-count-background-color: #666980;
  --sidebar-item-header-icon-sub-color: #9092a6;
  --sidebar-item-text-color: #9092a6;
  --sidebar-item-options-btn-border-color: #ccdbfb;
  --sidebar-item-options-btn-color: #3a3c49;
  --sidebar-item-options-btn-color-hover: #143481;
  --sidebar-item-options-btn-background-color-hover: #ccdbfb;
  --sidebar-item-options-btn-box-shadow-color-hover: #709af1;
  --sidebar-item-show-less-btn-color: #3a3c49;
  --sidebar-item-chevron-down-icon-color: #666980;

  --switch-text-color: #7a7d94;
  --switch-background-color-hover: #ccdbfb;
  --switch-box-shadow-color-hover: #709af1;
  --switch-color-checked: #143481;
  --switch-background-color-checked: #ccdbfb;

  --badge-wrapper-border-color: #ccdbfb;
  --badge-wrapper-background-color-hover: #ccdbfb;
  --badge-wrapper-box-shadow-color-hover: #709af1;
  --badge-wrapper-background-color-checked: #ccdbfb;
  --badge-label-color: #3a3c49;
  --badge-label-color-checked: #143481;
  --badge-count-color: #9092a6;
  --badge-count-color-checked: #143481;

  --error-heading-color: #333333;
  --error-description-color: #555555;

  --form-hero-label-border-color: #75c9c4;
  --form-hero-label-color: #317773;
  --form-hero-label-background-color: #e6faf9;
  --form-hero-label-applications-border-color: rgba(68, 105, 149, 0.5);
  --form-hero-label-applications-color: #446995;
  --form-hero-label-applications-background-color: #edf5ff;
  --form-hero-description-color: #3a3c49;
  --form-hero-info-border-color: #e1e1f7;
  --form-hero-info-label-color: #9092a6;
  --form-hero-info-value-color: #333333;
  --form-hero-link-color: #3541f5;
  --form-hero-slider-item-border-color: #f3f3f7;
  --form-hero-slider-item-background-color: #ffffff;
  --form-hero-slider-item-box-shadow-color: rgba(85, 85, 85, 0.1);
  --form-hero-slider-button-box-shadow-color-hover: rgba(0, 0, 0, 0.1);
  --form-hero-slider-button-icon-color-hover: #ff6f3d;
  --form-hero-slider-button-opacity-disabled: 0.4;
  --form-hero-download-modal-background-color: #ffffff;
  --form-hero-download-modal-box-shadow-color: rgba(27, 68, 166, 0.15);
  --form-hero-download-modal-heading-color: #21222b;
  --form-hero-download-modal-text-color: var(--primary-color);
  --form-hero-download-as-heading-color: #444444;
  --form-hero-download-as-link-color: #3541f5;
  --form-hero-download-as-item-tooltip-icon-color: #3a3c49;
  --form-hero-download-as-item-tooltip-icon-color-hover: #666666;
  --form-hero-download-as-item-tooltip-text-color: #ffffff;
  --form-hero-download-as-item-tooltip-text-background-color: rgba(0, 0, 0, 0.6);
  --form-hero-share-heading-color: #9092a6;
  --form-hero-share-button-border-color: #c4c2f0;
  --form-slider-section-button-box-shadow-color-hover: rgba(0, 0, 0, 0.1);
  --form-slider-section-button-icon-color-hover: #3541f5;
  --form-slider-section-button-opacity-disabled: 0.4;
  --form-how-to-create-border-color: #e1e1f7;
  --form-how-to-create-background-color: #ffffff;
  --form-how-to-create-heading-accent-color: #3541f5;
  --form-how-to-create-list-color: var(--primary-color);
  --form-build-your-own-forms-section-background-color: #000122;
  --form-build-your-own-forms-border-color: #9c99e7;
  --form-build-your-own-forms-background-color: rgba(156, 153, 231, 0.1);
  --form-build-your-own-forms-text-color: #ffffff;
  --form-explore-other-template-item-color: var(--primary-color);
  --form-explore-other-template-item-background-color: rgba(255, 255, 255, 0.9);
  --form-explore-other-template-item-box-shadow-color: rgba(27, 68, 166, 0.1);

  --form-submit-heading-color: #21222b;
  --form-submit-description-color: var(--primary-color);
  --form-submit-category-label-color: #a6a8b8;
  --form-submit-info-label-color: #9092a6;
  --form-submit-info-value-color: #333333;
  --form-submit-block-wrapper-border-color: #e1e1f7;
  --form-submit-error-modal-heading-color: #cb0000;
  --form-submit-error-modal-text-color: var(--primary-color);
  --form-submit-error-modal-border-color: #cb0000;
  --form-submit-error-modal-background-color: #ffffff;
  --form-submit-error-modal-box-shadow-color: rgba(27, 68, 166, 0.15);
  --form-submit-file-upload-modal-overlay-background-color: #00000066;
  --form-submit-file-upload-modal-heading-color: #21222b;
  --form-submit-file-upload-modal-background-color: #ffffff;
  --form-submit-file-upload-modal-box-shadow-color: rgba(27, 68, 166, 0.15);
  --form-submit-file-upload-modal-file-wrapper-color: var(--primary-color);
  --form-submit-file-upload-modal-file-wrapper-background-color: #f9f9f9;
  --form-submit-file-upload-modal-content-color: var(--primary-color);
  --form-submit-upload-file-heading-color: #21222b;
  --form-submit-upload-file-link-color: #3541f5;
  --form-submit-upload-file-label-color: #9092a6;
  --form-submit-upload-file-error-color: #cb0000;
  --form-submit-upload-file-background-color: #f5f8ff;
  --form-submit-upload-file-loader-border-color: #333333;
  --form-submit-upload-file-btn-border-color: #f9f9f9;
  --form-submit-upload-file-btn-background-color: #f9f9f9;
  --form-submit-upload-file-btn-border-color-hover: #666666;
  --form-submit-upload-file-btn-tooltip-color: #ffffff;
  --form-submit-upload-file-btn-tooltip-background-color: rgba(0, 0, 0, 0.6);
}
