/*
 * (c) Copyright Ascensio System SIA 2009-2026
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "media";

.button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 15px 22px;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #ffffff;
  width: auto;
  min-height: 56px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
    cursor: initial;
  }

  @include media.mobile {
    border-radius: 10px;
    padding: 13px 24px;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    min-height: 48px;
  }
}

.full-width {
  width: 100%;
}

.variant-primary {
  position: relative;
  border: none;
  background: radial-gradient(
    83.6% 156.25% at 71.63% 0%,
    #ffac00 0%,
    #ff8100 28.85%,
    #ff4b00 88.46%
  );
  box-shadow: 0px 8px 12px -3px #ff6f3d4d;
  z-index: 0;
  transition: box-shadow 0.2s;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(360deg, #f68c57 0%, #ff5938 100%);
    opacity: 0;
    transition: opacity 0.2s;
    z-index: -1;
  }

  &:hover {
    box-shadow: 0px 4px 6px -4px rgba(244, 89, 12, 0.5);

    &:after {
      opacity: 1;
    }
  }

  &:disabled {
    background: linear-gradient(
      360deg,
      rgba(235, 51, 0, 0.5) 0%,
      rgba(255, 89, 56, 0.5) 40%
    );
    box-shadow: 0px 8px 16px -3px rgba(244, 89, 12, 0.5);
  }
}

.variant-primary-2 {
  border: none;
  border-radius: 9px;
  font-family: "Open Sans", sans-serif;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  background-color: #ff6f3d;
  transition: background-color 0.2s;

  &:hover,
  &:active {
    background-color: #ff865c;
  }

  &:disabled {
    background-color: #ffd4c5;
  }
}

.variant-secondary {
  border: none;
  background-color: #000122;
  transition: background-color 0.2s;

  &:hover {
    background-color: #3541f5;
  }

  &:disabled {
    background-color: rgba(0, 1, 34, 0.5);
  }
}

.variant-tertiary {
  border: none;
  color: #000122;
  background-color: #ffffff;
  transition:
    color 0.2s,
    background-color 0.2s;

  &:hover {
    color: #ffffff;
    background-color: #3541f5;
  }

  &:disabled {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
