@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Italic.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Light.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Light-Italic.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Light-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Medium.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Medium-Italic.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Medium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-SemiBold-Italic.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-SemiBold-Italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-Bold-Italic.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-ExtraBold.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/OpenSans/OpenSans-ExtraBold-Italic.woff2") format("woff2"), url("../public/fonts/OpenSans/OpenSans-ExtraBold-Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../public/fonts/Sora/Sora-Regular.woff2") format("woff2"), url("../public/fonts/Sora/Sora-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../public/fonts/Sora/Sora-Medium.woff2") format("woff2"), url("../public/fonts/Sora/Sora-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../public/fonts/Sora/Sora-SemiBold.woff2") format("woff2"), url("../public/fonts/Sora/Sora-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("../public/fonts/Sora/Sora-Bold.woff2") format("woff2"), url("../public/fonts/Sora/Sora-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #333333;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

button,
input,
textarea {
  font-family: inherit;
}