* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-weight: 400;
  color: var(--primary-color);
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}

#__next,
main {
  min-height: 100%;
}

button,
input,
textarea {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
