@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Segoe-UI";
  src: url("./fonts/SegoeUI.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Segoe-UI";
  src: url("./fonts/SegoeUI-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}

#__next,
main {
  min-height: 100%;
}

button,
input,
textarea {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
