/*
 * (c) Copyright Ascensio System SIA 2009-2026
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "media";

.main-header {
  margin-bottom: 84px;

  @include media.desktop {
    margin-bottom: 64px;
  }
}

.main-header-heading {
  margin-bottom: 32px;

  @include media.tablet {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
  }
}

.main-header-subheading {
  @include media.tablet {
    font-size: 18px;
    line-height: 24px;
  }
}

.main-wrapper {
  display: grid;
  grid-template-columns: 352px minmax(0, 1fr);
  gap: 56px;

  @include media.desktop {
    grid-template-columns: 320px minmax(0, 1fr);
  }

  @include media.tablet {
    display: initial;
    grid-template-columns: initial;
    gap: initial;
    overflow-x: hidden;
  }
}

.main-top {
  display: flex;
  align-items: center;
  margin-bottom: 56px;

  @include media.desktop {
    flex-wrap: wrap;
  }
}

.main-top-wrapper {
  display: flex;
  align-items: center;
  margin-inline-end: auto;
  padding-inline-end: 24px;
  width: 100%;

  @include media.desktop {
    margin-bottom: 12px;
    margin-inline-end: initial;
    padding-inline-end: initial;
  }

  @include media.mobile {
    align-items: initial;
  }
}

.main-top-content {
  @include media.mobile {
    display: flex;
    flex-direction: column;
  }
}

.main-count {
  display: inline-flex;
  margin-inline-start: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #9092a6;

  @include media.desktop {
    margin-inline-start: 24px;
  }

  @include media.mobile {
    margin-inline-start: initial;
    margin-top: 8px;
  }
}

.main-count-label {
  margin-inline-end: 12px;
}

.main-count-value {
  letter-spacing: 0.04em;
}

.main-filters-button {
  display: none;
  border: none;
  padding: 0;
  margin-inline-start: auto;
  width: 24px;
  height: 24px;
  background-image: var(--main-filters-button-icon);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;

  @include media.tablet {
    display: block;
  }
}
